.svg {
  font-family: "Russo One", sans-serif;
  position: absolute;
  left: 20px;
  top: -30px;
}
.svg text {
  stroke-width: 1;
  stroke: #ddd;
  font-size: 5.4rem;
  font-weight: bold;
  transition: all 0.6s;
  animation: stroke 9s infinite alternate;
}
.svg text:hover {
  stroke-width: 1;
  fill: #ddd;
  stroke: #ddd;
  color: #ddd;
  animation: none;
  transform: translateX(3%);
  cursor: pointer;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(255, 255, 255, 1);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2;
  }
  100% {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
