.button {
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  background: rgb(157, 54, 54);
  color: #fff;

  transform: translateY(10px) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.button {
  display: flex;
  height: 5px;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.button span {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.button span:nth-child(1) {
  transition-delay: 0.05s;
}
.button span:nth-child(2) {
  transition-delay: 0.1s;
}
.button span:nth-child(3) {
  transition-delay: 0.15s;
}
.button span:nth-child(4) {
  transition-delay: 0.2s;
}
.button span:nth-child(5) {
  transition-delay: 0.25s;
}
.button span:nth-child(6) {
  transition-delay: 0.3s;
}
.button span:nth-child(7) {
  transition-delay: 0.35s;
}
.button span:nth-child(8) {
  transition-delay: 0.4s;
}
.button span:nth-child(9) {
  transition-delay: 0.45s;
}
.button span:nth-child(10) {
  transition-delay: 0.5s;
}
.button span:nth-child(11) {
  transition-delay: 0.55s;
}
.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.button:hover span {
  --m: calc(var(--font-size) * -1);
}
.button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.button.reverse:hover span {
  --m: calc(var(--font-size));
}
