
  
  .btn {
	position: relative;
	padding: 4px 8px;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
    letter-spacing: 0.2em;
    text-align: center;
	overflow: hidden;
	border-radius: 5px;
    
  }
  
  .btn span {
	position: relative;
	color: #fff;
	font-size: 15px;
	font-family: Arial;
	z-index: 1;
    
  }
  
  .btn .liquid {
	position: absolute;
	top: -80px;
	left: 0;
	width: 190px;
	height: 200px;
    backdrop-filter: blur(12px);
	background: #4973ff;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
  }
  
  .btn .liquid::after,
  .btn .liquid::before {
	content: "";
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
	backdrop-filter: blur(12px);
  }
  
  .btn .liquid::before {
	border-radius: 45%;
    backdrop-filter: blur(5px);
	background: rgba(20, 20, 20, 1);
	animation: animate 5s linear infinite;
  }
  
  .btn .liquid::after {
	border-radius: 40%;
	background: rgba(20, 20, 20, 0.5);
	animation: animate 10s linear infinite;
  }
  
  .btn:hover .liquid {
	top: -120px;
  }
  
  @keyframes animate {
	0% {
	  transform: translate(-50%, -75%) rotate(0deg);
	}
	100% {
	  transform: translate(-50%, -75%) rotate(360deg);
	}
  }
  