@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: content-box !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:before,
*:after {
  content: "";
  position: absolute;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --frameColor: #76778d;
  --frameColor1: #3e3f4b;
  --frameColor2: #202125;
  --skyscraper: #334155;
}

.swiper-pagination-horizontal {
  bottom: -4% !important;
}

.swiper-pagination-bullet-active {
  background: rgb(6, 93, 255) !important;
  width: 20px !important;
  border-radius: 5px !important;
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  padding: 4px, 8px !important;
  background: rgba(6, 93, 255);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white;
  background: rgb(11, 1, 196);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bold;
  color: white;
}

/*------scroll bar---------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0674c3;
  border: 0px none #525965;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #043994;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.Certificate-section {
}

.skill-item {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 400px) {
  .customGrid1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media screen and (max-width: 400px) {
  .customText {
    font-size: 1.5rem /* 16px */;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .customText2 {
    font-size: 1.5rem /* 16px */;
    line-height: 1.5rem;
  }
}
